@if(TempData["success"]!=null)
{
    <div class="alert alert-success notification">
        @TempData["success"];
    </div>
}

@if (TempData["fail"] != null)
{
    <div class="alert alert-danger notification">
        @TempData["fail"];
    </div>
}
